$index: calc(1vw + 1vh);

.header {
  &_search {
    position: relative;
    margin-left: 8px;
    height: 40px;
    transition: .3s;
    opacity: .9;

    &_icon_wrapper {
      height: 100%;
      padding: 0 16px;
      position: absolute;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    &_input {
      border-radius: 6px;
      background: #606060;
      padding: 8px 8px 8px 48px;
      width: 100%;
      transition: .3s;
      width: calc($index * 10);
      height: 100%;
      outline: none;

      &::placeholder {color: #fff;}
      
      &:focus {width: calc($index * 16);}
    }
  }

  &:hover {
    .header_search {opacity: 1;}
  }
}