$index: calc(1vw + 1vh);

.section {
  &_title {
    .img_wrap {
      max-height: calc(100vh - 128px);
    }
    &__content_right {margin-left: calc($index * 3);}
  }
  // background: linear-gradient(to top, #6774a1, #6b7898, #727d9b);


  &_quantity {
    box-shadow: 0 0 0 1px #ccc;
    margin-bottom: $index;

    &__input {
      width: calc($index * 2);
      text-align: center;
    }
  }
}