$index: calc(1vw + 1vh);

.section {
  &_title {
    &__purchase_part {
      width: 55%;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100svh;
      height: 100%;
    }

    &__short_descr {
      
    }
//     &__purchase_part {width: 300px;}
//     &__subtitle {font-size: 14px;}
//     &__title {font-size: 26px;}
//     &__short_descr {font-size: 14px;}

//     @media screen and (min-width: 768px) {
//       &__purchase_part {width: 340px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1024px) {
//       &__purchase_part {width: 400px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1366px) {
//       &__purchase_part {width: 500px}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1600px) {
//       &__purchase_part {width: 800px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1920px) {
//       &__purchase_part {width: 1000px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }

    .img_wrap {
      display: flex;
      align-items: center;
    }
    .img_wrap, .carousel_wrap {
      max-height: calc(100vh - 128px);
    }
    &__content_right {margin-left: calc($index * 3);}
  }
  // background: linear-gradient(to top, #6774a1, #6b7898, #727d9b);
}