.radio_button {
  position: relative;
  width: 32px;
  height: 32px;
  transition: .4s ease;
  display: flex;
  margin: 10px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #000;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: .4s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}