$index: calc(1vw + 1vh);

:root {
  --maxHeight: 0;
}

.details_part_element {

  &_button > svg {
    transition: .2s;
  }

  &_accordion {
    max-height: 0px;
    transition: .3s;
    position: relative;
    overflow: hidden;
    margin-top: 0;

    & > li {border-bottom-width: 1px;}
  }

  &.active &_accordion {
    max-height: var(--maxHeight);
    margin-top: $index;
    }
  &.active &_button > svg {
    transform: rotate(180deg);
    transition: .2s;
  }
}