$index: calc(1vw + 1vh);

:root {
  --maxHeight: 0;
}

.details_part {
  
  &_accordion {
    max-height: 0px;
    transition: .3s;
    position: relative;
    overflow: hidden;

    &.active {
      max-height: var(--maxHeight);
      transition: .3s;
    }
  }
}