.fos-10 {font-size: 10px;}
.fos-12 {font-size: 12px;}
.fos-14 {font-size: 14px;}
.fos-16 {font-size: 16px;}
.fos-18 {font-size: 18px;}
.fos-20 {font-size: 20px;}
.fos-22 {font-size: 22px;}
.fos-24 {font-size: 24px;}
.fos-26 {font-size: 26px;}
.fos-28 {font-size: 28px;}
.fos-30 {font-size: 30px;}