@import './paddings.scss';
@import './margins.scss';
@import './fos.scss';
@import './colors.scss';

$index: calc(1vw + 1vh);

input {outline: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-buy {background: #000;}

.wrapper_big {
  padding: 0 calc($index * 2);
}

.P_product_common {
  min-height: calc(100vh - 128px);
  margin-top: 96px;
  padding: 0 calc($index * 2);
  position: relative;
}

.btn_black_hover {
  box-shadow: 0 0 1px 1px #000;
  transition: .2s;
  font-weight: 700;
  
  &:hover {
    background: #000;
    color: #fff;
  }
}

.line {
  &_title {

    &_left::after, &_center::after {
      content: '';
      height: 2px;
      display: block;
      background: $bg-darkBlue;
    }
    &_left::after {
      width: 130%;
      margin: calc($index) 0;
    }
    &_center::after {
      width: 60%;
      margin: $index auto calc($index * 2) auto;
    }
  }

  &_section_divider {
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 4 * $index);
      height: 2px;
      top: -46px;
      background: #d1d5db;
    }
  }
}

// body {background: #eee;}
// body {background: #727d9b;}
// body {background: #6774a1;}