@import './paddings.scss';
@import './margins.scss';
@import './fos.scss';
@import './colors.scss';

$index: calc(1vw + 1vh);
.btn-buy {background: #000;}

.wrapper_big {
  padding: 0 calc($index * 2);
}

body {background: #eee;}