$index: calc(1vw + 1vh);

@mixin sizesX($size){
  margin-left: $size;
  margin-right: $size;
}
@mixin sizesY($size){
  margin-top: $size;
  margin-bottom: $size;
}

.mx-10 {@include sizesX(10px)}
.mx-12 {@include sizesX(12px)}
.mx-14 {@include sizesX(14px)}
.mx-16 {@include sizesX(16px)}
.mx-18 {@include sizesX(18px)}
.mx-20 {@include sizesX(20px)}

.my-10 {@include sizesY(10px)}
.my-12 {@include sizesY(12px)}
.my-14 {@include sizesY(14px)}
.my-16 {@include sizesY(16px)}
.my-18 {@include sizesY(18px)}
.my-20 {@include sizesY(20px)}