$index: calc(1vw + 1vh);

@mixin sizesX($size){
  padding-left: $size;
  padding-right: $size;
}
@mixin sizesY($size){
  padding-top: $size;
  padding-bottom: $size;
}

// .px-10 {@include sizesX(10px)}
// .px-12 {@include sizesX(12px)}
// .px-14 {@include sizesX(14px)}
// .px-16 {@include sizesX(16px)}
// .px-18 {@include sizesX(18px)}
// .px-20 {@include sizesX(20px)}

// .py-10 {@include sizesY(10px)}
// .py-12 {@include sizesY(12px)}
// .py-14 {@include sizesY(14px)}
// .py-16 {@include sizesY(16px)}
// .py-18 {@include sizesY(18px)}
// .py-20 {@include sizesY(20px)}