.component_quantity {
  // box-shadow: 0 0 0 1px #ccc;
  border-radius: 4px;
  
  &_button {
    transition: .2s;
    position: relative;

    &:hover {
      // background: #;
    }
  }

  &_input {
    width: calc((1vw + 1vh) * 2);
    text-align: center;
    background: transparent;
  }
}