.container {
  overflow-y: scroll;
}

.stripe_container {
  animation: fade-in .5s linear 1s forwards;
  opacity: 0;

  @keyframes fade-in {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }
}