$index: calc(1vw + 1vh);

.section {
  display: flex;
  justify-content: center;
}

//     &__purchase_part {width: 300px;}
//     &__subtitle {font-size: 14px;}
//     &__title {font-size: 26px;}
//     &__short_descr {font-size: 14px;}

//     @media screen and (min-width: 768px) {
//       &__purchase_part {width: 340px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1024px) {
//       &__purchase_part {width: 400px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1366px) {
//       &__purchase_part {width: 500px}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1600px) {
//       &__purchase_part {width: 800px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }
//     @media screen and (min-width: 1920px) {
//       &__purchase_part {width: 1000px;}
//       &__subtitle {font-size: 14px;}
//       &__title {font-size: 26px;}
//       &__short_descr {font-size: 14px;}
//     }